fastapi
uvicorn[standard]
sqlalchemy
pymysql
psycopg[binary]==3.3.6
python-dotenv
google-genai
opencv-python-headless
pillow
python-jose[cryptography]
pwdlib[argon2,bcrypt]
pydantic-settings
python-multipart
email-validator
# Testes
pytest
pytest-asyncio
httpx
